@media screen and (min-width: 768px){
    .side-bar{
        width: 160px;
    }

    .main-content .table-responsive td:nth-child(2),
    .main-content .table-responsive td:nth-child(3),
    .main-content .table-responsive th:nth-child(2),
    .main-content .table-responsive th:nth-child(3){
        opacity: 1;
    }
}

@media screen and (min-width: 1200px){

    .main-content .table-responsive tr > :first-child{
        min-width: 300px;
    }
}