/* RESET */

img{
    max-width: 100%;
}

ul,ol,menu{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

body{
    font-family: 'Roboto', sans-serif;
}

#webapp{
    width: 100%;
    height: 100vh;
}
