:root{
    --yellow:#FF8F00;
    --lightgray: #E5E5E5;
    --darkgray: #5A5858;
    --darkblue: #061E34;
    --white: #ffffff;
}

/* RESET */

img{
    max-width: 100%;
}

ul,ol,menu{
    list-style: none;
    margin-bottom: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: currentColor;
}

body{
    font-family: 'Roboto', sans-serif;
}

#webapp{
    width: 100%;
    height: 100vh;
}

/* Utilities */

.c-yellow{
    color: var(--yellow);
}

.c-darkgray{
    color: var(--darkgray);
}

.bg__lightgray{
    background-color: var(--lightgray);
}

/*  HEADER */

.main-header{
    height: 12vh;
}

.main-header .logo-sm{
    height: 70px;
    display: block;
}

.main-header .logo-md{
    height: 70px;
    width: 150px;
}

.main-header ul li{
    padding: 0 7px;
}

.main-header input[type="text"] + i{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

/* .side-bar */

.side-bar{
    background-image: url("../img/sidebar-bg.png");
    background-color: var(--darkblue);
    color: var(--white);
    padding: 10px;
    height: 88vh;
    width: 70px;
}

.side-bar i{
    width: 20px;
}
